@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
:root {
    --head: #3A3845;
    --bg: #E4D1B9;
    --bord: #C69B7B;
    --text: #FFFBE9;
    --dark-bg: rgba(0, 0, 0, .7);
    --span: #BF9B5D;
    --border: .1rem solid #aaaa;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .4);
}



* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43, 1.1, .62, 1.08);
    outline: none;
    list-style: none;
    scroll-behavior: smooth;
}

*>img {
    user-select: none;
    pointer-events: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    /* scroll-padding-top: 6rem; */
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--text);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--bord);
    border-radius: 30px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: rgb(195, 120, 62);
}

section {
    padding: 5rem 10%;
}

.logo>img {
    height: 100px;
    margin: -20px;
}

.header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--head);
    justify-content: center;
}

.header span {
    padding-left: 20px;
    font-size: 4rem;
    color: #BF9B5D;
    font-family: 'Playball', 'Times New Roman', Times, serif;
    margin: auto;
}

#cart {
    font-size: 38px;
    color: var(--text);
    padding-left: 10px;
}

#profile {
    font-size: 28px;
    color: var(--text);
    padding-left: 15px;
}
#profile:hover, #cart:hover{
    color: var(--bord);
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

.dropdown-content {
    margin-top: 10px;
    margin-left: 15px;
    display: none;
    position: absolute;
    background-color: var(--bord);
    border-top-left-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: var(--text);
    font-size: 15px;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
  }

.dropdown-content a:last-child{
  border-bottom:none;
}

.dropdown a:hover {
    background-color: var(--text);
    color: var(--bord);
  }

.navbar {
    margin: 0;
}

#ifactive {
    color: var(--bord);
    background: var(--text);
    padding-left: 15px;
}

#ifactive:hover{
    color: var(--bord);
}

.navbar:last-child {
    padding-right: 10px;
}

.header .navbar a {
    padding: 10px;
    font-size: 15px;
    color: var(--text);
    text-transform: uppercase;
}

.header .navbar a:hover {
    color: var(--bord);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    background: var(--bord);
    color: var(--text);
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
}

.btn:hover {
    letter-spacing: .2rem;
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--text);
    display: none;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-1rem) scale(0);
        opacity: 0;
    }
}

#head {
    background-image: url(../images/head.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

article {
    height: 75vh;
    width: 60%;
    background: transparent;
    float: right;
    margin: 80px 30px 0 0;
}

article h2 {
    text-align: center;
    padding-top: 7%;
    font-weight: lighter;
    font-family: 'playball', cursive;
    font-size: 10vmin;
    color: #FFFBE9;
}

article p {
    text-align: end;
    font-size: 3vmin;
    padding-right: 13%;
    margin-bottom: 10px;
    color: #FFFBE9;
}

article i {
    font-family: 'Playball', cursive;
    font-size: larger;
}


/*Search Bar.*/

.Sbox {
    background-color: white;
    margin-left: 35%;
    margin-top: 3%;
    width: 465px;
    display: flex;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.Sbox .Sfield .input {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-right: 15px;
    padding-left: 20px;
    font-size: 16px;
    border: none;
    outline: none;
}

.input::placeholder {
    color: rgb(22, 21, 21);
}

.Sbox .Catselect {
    width: 170px;
    border-left: 2px solid #818286;
    border-right: 2px solid #818286;
    height: 40px;
    background-color: white;
}

.Sbox .Catselect .dropdown {
    width: 150px;
    color: black;
    position: relative;
    cursor: pointer;
}


/*Before & After is for the select icon*/

.Sbox .Catselect .dropdown:before {
    content: "";
    position: absolute;
    top: -4px;
    right: 1px;
    border: 10px solid;
    border-color: transparent transparent rgb(34, 29, 29) transparent;
}

.Sbox .Catselect .dropdown:after {
    content: "";
    position: absolute;
    top: 25px;
    right: 1px;
    border: 10px solid;
    border-color: rgb(34, 29, 29) transparent transparent transparent;
}

.Sbox .Catselect .dropdown .option {
    color: rgb(22, 21, 21);
    padding: 8px 18px;
    font-size: 16px;
    user-select: none;
}

.Sbox .Catselect .dropdown ul {
    position: absolute;
    background-color: white;
    border-radius: 5px;
    box-shadow: 8px 8px 6px -10px black;
    width: 180px;
    top: 70px;
    left: -10px;
    padding: 20px;
    display: none;
}

.Sbox .Catselect .dropdown ul.display {
    display: block;
}

.Sbox .Catselect .dropdown ul li {
    padding-bottom: 20px;
    user-select: none;
    font-size: 17px;
}

.Sbox .Catselect .dropdown ul li:last-child {
    padding-bottom: 0;
}

.Sbox .Catselect .dropdown ul li:hover {
    color: #4a4a4e;
}

.fa-search {
    position: relative;
    cursor: pointer;
    color: rgb(43, 37, 37);
    font-size: 25px;
    top: 7px;
    left: 15px;
}

.fa-search:hover {
    color: #818286;
}

.dropbtn {
    border: none;
    cursor: pointer;
    font-size: 28px;
    color: var(--text);
    padding-left: 15px;
}
  
  


/*end of search bar*/


/* ADMIN LOGIN */



.contact-container{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 100%;
    height: 100%;
}
.contact-container:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: wheat;
    background-size: cover;
    z-index: -1 ;
    filter: blur(50px);
}
.contact-box {
    border-radius: 10px;
    max-width: 850px;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#C69B7B;
    box-shadow: 0px 0px 19px 5px rgb(0,0,0,0.19);
}
.left {
    height: 100%;
    background: url(../images/adminfood.png) no-repeat center;
    background-size: cover;
    border-radius: 10px;
}
.right {
    padding: 25px 40px;
}
.right h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

.right h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #3b2621;
}
.field {
    width: 100%;
    padding: 1rem 1rem;
    outline:none ;
    border:2px solid rgba(0, 0, 0, 0);
    background-color: var(--text);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .4s;
    border-radius: 4px;
    font-size: 13px;
}

.field:hover {
    background-color:#E4D1B9;
}

.field:focus {
    background-color: rgb(253, 253, 253);
    /* border: 2px solid rgba(10, 11, 14, 0.47); */
}
.area {
    min-height: 150px;
}

.send {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    background-color: #080808;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.4s;
    color:#daccba;
    font-size: 13px;
    text-transform: uppercase;

}

.send:hover {
    background-color: rgb(214, 90, 2);
    color: #222222;
}
/* ADMIN LOGIN END */


/* ADMIN MAIN */
.dash {
    padding: 0;
    margin: 0; 
    background-color: #fffbe9;   
}



.search-wrapper {
    border-bottom: 2px solid var(--bord);
    width: 30rem;
    height: 50px;
    display: flex;
    align-items: center;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input {
    height: 100%;
    width: 30rem;
    padding: .5rem;
    border: none;
    outline: none;
    background: transparent;
}

.user-wrapper{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.user-wrapper h4{
    margin-bottom: 0rem !important;
    font-size: 20px;
}

.user-wrapper small{
    display: inline-block;
    color: #222222;
    font-size: 13 px;
}

main{
    padding: 20px;
    background-color: #fffbe9;
    min-height: calc(100vh - 90px);
}
.cards{
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.class-single{
    display: flex;
    justify-content: space-between;
    background: rgb(251, 239, 217);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow)
}
.class-single h1{
    font-size: 35px;
    color: var(--head);
}

.class-single div:last-child span{
    color: #BF9B5D;
    font-size: 7rem;
}

.class-single div:first-child span{
    font-size: 2rem;
    color: #222222;
}
.class-single:last-child{
    background: #BF9B5D;
}
.class-single:last-child h1{
    color: #FFFBE9;
}
.class-single:last-child div:last-child span{
    color: #FFFBE9;
}


/* INVENTORY */

.invent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5rem;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.inventory{
    margin-top: 20px;
    background: rgb(251, 239, 217);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.detail-header {
    
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.detail-header{
    font-size: 20px;
    color: #BF9B5D;
}

.detail-header button{
    height: 40px;
    width: 120px;
    border: 1px solid #BF9B5D;
    background-color: #BF9B5D;
    color: #FFFBE9;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.detail-header button:hover {
    background-color: transparent;
    color: #BF9B5D;
}

.detail #idcon{    
    overflow-y: scroll;
    margin-top: 10px;
    padding-top: 0;
    height: 60vh;
}

#idcon::-webkit-scrollbar-track
{
	background: var(--text);
}

#idcon::-webkit-scrollbar
{
	width: 10px;
	background-color: var(--text);
}
#idcon::-webkit-scrollbar-thumb
{
    background-color: var(--bg);
}#idcon::-webkit-scrollbar-thumb:hover{
    background-color: var(--bord)
}

.detail table{
    width: 100%;
    border-collapse: collapse;

   
}

.detail table th{
    background-color: #BF9B5D;
    font-size: 20px;
    padding: 0.8rem 0.2rem;
    position: sticky;
    top: 0;
}
.detail table th:hover{
    border:none;
}
.detail table tr {
    font-size: 15px;
    border-bottom: 1px solid #BF9B5D;
}
.detail table tr:hover{
    background-color: rgb(221, 194, 146);
    border-bottom: 2px solid #BF9B5D;
}


.detail table tr td:last-child{
    text-align: center;
    cursor: pointer;
    color: #333333;
}
.detail table tr td:last-child:hover{
    color: white;
    background: #BF9B5D;
}
.detail table tr th:last-child{
    text-align: center;
}

.detail table td{
    padding: 0.4rem 0.2rem;
    font-size: 14px;
}
.detail table td, .detail table th {
    text-align: left;
    min-width: 120px;
    padding-left: 10px;
}

.detail table th{
    color: #FFFBE9;
}


.detail table tr td:nth-child(2),
.detail table tr td:nth-child(3){
    min-width: 150px;
}

.detail table .trash i{
    font-size: 30px;
}

.customer h2{
    font-size: 25px;
    color: #BF9B5D;
    padding: 20px;
    text-align: center;
}
.inventory input{
    background: transparent;
    border-bottom: 2px solid#BF9B5D;
    outline: none;
}
.inventory input:focus{
    border: none;
    background: transparent;
    border-bottom: 2px solid #BF9B5D;
}
.inventory [type="date"]{
    border: none;
    border-bottom: 2px solid #BF9B5D;
    width: 100%;
    padding: 10px;
}
.inventory select{
    background: transparent;
    border: none;
    border-bottom: 2px solid #BF9B5D;
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .4s;
    border-radius: 4px;
    font-size: 13px;
}
.inventory select option{
    padding: 20px;
    background: #BF9B5D;
}
.inventory form button{
    margin-top: 30px;
    background-color: #BF9B5D;
    color: white;
    border: 1px solid #BF9B5D;
}
.inventory form button:hover{
    background: transparent;
    border-radius: 10px;
    color: #BF9B5D;
}
















































/* 
#show:checked ~ .container{
    display: block;
}

.container{
    display: none;
    width: 450px;
    padding: 20px;
    border-radius: 4px;
    background: var(--bord);
    border: white;
   
}
.container{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.container .close-btn{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px;
    cursor: pointer;
}
.close-btn:hover{
    color:var(--head);
}
.container h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}
form {
    margin: 20px;
}
label{
    display: block;
    color: white;
    font-size: 18px;
    margin-top: 10px;
}
input[type="checkbox"]{
    display: none;
}
input{
    display: block;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    padding: 10px;
}
button{
    display: block;
    width: 95%;
    padding: 8px;
    border: none;
    outline: none;
    background: var(--text);
    color: var(--head);
    font-size: 18px;
    cursor: pointer;
}
.container .fp{
    font-size: 15px;
    margin-top: 10px;
    color: var(--head);
}
.container .sp{
    color: var(--head);
}
.link{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 15px;
}
.container a:hover{
    text-decoration: underline;
} */














/*footer*/

.media {
    font-size: 15px;
    text-transform: none;
}

.media i {
    font-size: 30px;
    padding: 10px;
}

.footer {
    background-color: #826F66;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--text);
}

.foot{
    padding-top: 20px;
}

.footer .foot #btp {
    font-size: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    color: var(--text);
    text-decoration: underline;
}

.footer .foot #btp:hover{
    color: var(--head);
}

.footer .foot i {
    margin-top: 10px;
    color: var(--head);
    font-size: 20px;
    padding: 5px;
}

.footer .foot .navv {
    margin: 10px;
}

.footer .foot .navv a {
    font-size: 12px;
    text-transform: normal;
    color: var(--text);
    padding: 10px;
}

.footer .foot .navv a:hover{
    color: var(--head);
}

.footer .quote {
    /* background-color: var(--head); */
    padding: 15px;
    font-size: 15px;
    text-transform: none;
    font-family: 'Lora', sans-serif;
    left: 0;
    right: 0;
    font-weight: 500;
}

.footer .copyright {
    font-size: 12px;
    text-transform: normal;
    color: var(--text);
    padding: 5px;
}


/*food*/


/*
.heading{
    text-align: center;
    margin-bottom: 3rem;
}

.heading span{
    font-size: 2.5rem;
    color: rgb(121, 85, 57);
}
.heading h3{
    font-size: 4.5rem;
    color: var(--head);
}

.food{
    background: #E4D1B9;
}
.food .slide{
    text-align: center;
    padding: 3rem 2rem;
    transform: scale(.9);
    opacity: .5;
    margin-bottom: 4rem; 
    cursor: pointer; 
}

.swiper-pagination-bullet-active{
    background: var(--head);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 0;

}
.food .swiper-slide-active{
    transform: scale(1);
    opacity: 1;
    background: var(--text);
    box-shadow: var(--box-shadow);
    border: var(--border);
}
.food .slide img{
    height: 25rem;
    width: 20rem;
    margin-bottom: 1rem;
    border: 20px solid #C69B7B;
}
.food .slide h3{
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--head);
}
.food .slide .price{
    font-size: 2rem;
    color:rgb(121, 85, 57);
}














/*media queries*/

@media (max-width:1200px) {
    section {
        padding: 3rem 5%;
    }
}

@media (max-width:991px) {
    section {
        padding: 3rem 2rem;
    }
    html {
        font-size: 55%;
    }
    .home .slide .content h3 {
        font-size: 15vw;
    }
}

@media (max-width:768px) {
    .fa-times {
        transform: rotate(180deg);
    }
    #menu-btn {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: var(--bg);
        border-top: var(--bord);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar a {
        display: block;
        margin: 2rem;
        color: var(--head);
    }
    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .swiper-button-next,
    .swiper-button-prev {
        top: initial;
        bottom: 1rem;
    }
    .image1 img {
        display: none;
    }
    .image2 {
        display: block;
    }
    .image2 img {
        margin: auto;
        padding: 50px;
        height: 50%;
        position: relative;
    }
    .content1st {
        margin-top: -100px;
    }
    #cont .it {
        width: 100%;
    }
    .profiles .profile {
        width: 100%;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    .home .slide .content h3 {
        font-size: 6rem;
    }
}