@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');:root{
    --head: #3A3845;
    --bg: #E4D1B9;
    --bord: #C69B7B;
    --text: #FFFBE9;
    --dark-bg:rgba(0,0,0,.7);
    --border: .1rem solid #aaaa;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.4);
}

*{
    font-family: 'Quicksand', sans-serif;    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);

    outline: none;
    list-style: none;
    scroll-behavior: smooth;
}


* > img{
    user-select: none;
    pointer-events: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
    
}
html::-webkit-scrollbar-track{
    background-color: var(--text);
    
}
html::-webkit-scrollbar-thumb{
    background-color: var(--bord);
    border-radius: 30px;
}
html::-webkit-scrollbar-thumb:hover{
    background-color: rgb(195, 120, 62);
}

.logo > img{
    height: 100px;
    margin: -20px;
}
.header{
    padding: 5rem 10%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: var(--head);
    justify-content: center;
}

.header span{
    padding-left: 20px;
    font-size: 4rem;
    color: #BF9B5D;
    font-family: 'Playball', 'Times New Roman', Times, serif;
    margin:auto;
}


#cart {
    font-size: 38px;
    color: var(--text);
    padding-left: 10px;
}

#profile {
    font-size: 28px;
    color: var(--text);
    padding-left: 15px;
}
#profile:hover, #cart:hover{
    color: var(--bord);
}
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

.dropdown-content {
    margin-top: 10px;
    margin-left: 15px;
    display: none;
    position: absolute;
    background-color: var(--bord);
    border-top-left-radius: 0%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: var(--text);
    font-size: 15px;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
  }

.dropdown-content a:last-child{
  border-bottom:none;
}

.dropdown a:hover {
    background-color: var(--text);
    color: var(--bord);
  }







.navbar{
    margin: 0;
}
.navbar #ifactive {
    color: var(--bord);
    
}

.navbar:last-child{
    padding-right: 10px;
}
.header .navbar a{
    padding: 10px;
    font-size: 15px;
    color: var(--text);  
    text-transform: uppercase;
}
.header .navbar a:hover{
    color: var(--bord);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    background: var(--bord);
    color:var(--text);
    font-size: 2rem;
    cursor: pointer;
    padding:1rem 3rem;
 }
 
 .btn:hover{
    letter-spacing: .2rem;
 }

#menu-btn{
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--text);
    display: none;
}

@keyframes fadeIn{
    0%{
        transform: translateY(-1rem) scale(0);
        opacity: 0;
    }
}


































.headreview{
    padding:0;
    background: var(--black);
 }

.headreview .slide{
    min-height: 100vh;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headreview .slide::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: -1;
 }

 .headreview .slide .content{
    text-align: center;
    width: 70rem;
 }
 .headreview .slide .content{
    font-size: 3rem;
    display: block;
    padding-bottom: .5rem;
    color: rgb(255, 162, 41);
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
 }

.headreview .slide .content span{
    font-size: 15px;
    display: block;
    padding-bottom: .5rem;
    color: rgb(255, 162, 41);
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .2s backwards;
 }

 .headreview .slide .content h3{
    font-size: 80px;
    font-family: 'Lora', sans-serif;
    color: rgb(255, 176, 72);
    text-transform: uppercase;
    text-shadow: 0 .5rem 1rem rgba(0,0,0,.7);
    line-height: 1;
    padding:2rem 0;
    animation:fadeIn 0.4s cubic-bezier(.54,1.3,.63,1.34) .4s backwards;
 }
 
.headreview .swiper-slide-active .content{
    display: inline-block;
 }

 .reviews-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 450px;
    height: 200px;
    background:rgba(198,155,123,.5);
    border-radius: 10px;
    margin: 10px 0px;}
    
.review-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 224, 197);
    font-family: 'Lora', sans-serif;
    font-size: 2rem;

}

.name-group {
    display: flex;
    align-items: center;
    
}
.name-group p{
    font-family: 'Lora', sans-serif;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 12px;
    border-radius: 50%;
    background:rgb(255, 187, 128);
    color: var(--head);
}
            
.rating i{
    color: rgb(255, 187, 128);
}
.review-description {
    color: rgb(255, 224, 197);
    font-weight: 400;
    margin: 0px 45px;
    font-size: 15px;
}
.review-details {
    display: flex;
    justify-content: space-between;
    margin: 0px 45px;
    align-items: center;
    color: var(--head);
} 
.review-details .reco{
    color: rgb(255, 187, 128);
}  
.review-details .reco span{
    font-size: 20px;
    font-family: 'Playball', sans-serif;
    color: var(--text);
}
.review-date{
    color: rgb(255, 187, 128);
    font-size: 15px;
} 
.share-group {
    display: flex;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(255, 187, 128);
}  
.share-group i{
    margin-right: 10px;
    font-size: 20px;
}

.btns{
    display: flex;
    margin: 10px;
}
.btns button{
    padding: 8px;
    width: 150px;
    margin: 10px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
    background: transparent;
    font-size: 15px;
}
.btns button:hover{
    color: #222222;
    border: none;
    background: white;
}





/* TESTIMONIAL LOOP */

.wrapper{
    padding: 100px;
    background: var(--head);
}

.wrapper p{
    font-size: 14px;
    line-height: 25px;
    margin: 0;
}
.wrapper h1{
    color: var(--text);
    font-size: 8rem;
    font-family: 'Playball', serif;
    font-weight: normal;
    text-align: center;
}
.wrapper h1:after {
    content: '';
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    height: 4px;
    width: 450px;
    border-radius: 2px;
    left: 50%;
    background-color:#FFFBE9;
    margin-bottom: 10px;
}
.wrapper .h1{
    margin-bottom: 20px;
}
.wrapper .feeds{
    color: var(--text);
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.fa-quote-right{
    font-size: 28px;
    text-align: center;
    margin-bottom: 15px;
}
.wrapper .text{
    background-color: #FFFBE9;
    position: relative;
    padding: 25px;
    min-height: 170px;
    position: relative;
    box-shadow: var(--box-shadow);
}
.wrapper .text::after{
    content: '\f0d7';
    position: absolute;
    font-family: fontawesome;
    bottom: -18px;
    font-size: 34px;
    color: #FFFBE9;
    left: 40px;
    text-shadow: 0 8px 15px rgba(0,0,0,.4);
}
.image h4{
    margin: 10px 0;
    color: var(--text);
    font-family: 'Lora', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
}
.image{
    margin-top: 25px;
}
.image img{
    border-radius: 50%;
    border: 3px solid var(--bord);
}
.items{
    margin: 0 25px;
}






.review {
    display: flex;
    background: #FFFBE9;
    padding-left: 60px;
}
.question{
    width: 50vw;
}
.question h1{
    padding-top: 30px;
    font-size: 70px;
    font-family: 'Lora', serif;
    letter-spacing: 2px;
    color: rgb(92, 72, 57);
}
.question .faq-p{
    font-size: 13px;
}

.review .content{
    position: relative;
}
.faqs{
    width: 500px;
    margin: auto;
}
.question-container{
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #BF9B5D;
}
.question-container .question{
    font-size: 15px;
    cursor: pointer;
}
.question-container .answer{
    display: none;
    font-size: 15px;
    padding: 20px;
    padding-bottom: 0;
    color: rgb(121, 97, 57);
}




























/*footer*/

.media {
    font-size: 15px;
    text-transform: none;
}

.media i {
    font-size: 30px;
    padding: 10px;
}

.footer {
    background-color: #826F66;
    text-align: center;
    margin: 0;
    padding: 0;
    color: var(--text);
}

.foot{
    padding-top: 20px;
}

.footer .foot #btp {
    font-size: 15px;
    margin-top: 10px;
    text-transform: uppercase;
    color: var(--text);
    text-decoration: underline;
}

.footer .foot #btp:hover{
    color: var(--head);
}

.footer .foot i {
    margin-top: 10px;
    color: var(--head);
    font-size: 20px;
    padding: 5px;
}

.footer .foot .navv {
    margin: 10px;
}

.footer .foot .navv a {
    font-size: 12px;
    text-transform: normal;
    color: var(--text);
    padding: 10px;
}

.footer .foot .navv a:hover{
    color: var(--head);
}

.footer .quote {
    /* background-color: var(--head); */
    padding: 15px;
    font-size: 15px;
    text-transform: none;
    font-family: 'Lora', sans-serif;
    left: 0;
    right: 0;
    font-weight: 500;
}

.footer .copyright {
    font-size: 12px;
    text-transform: normal;
    color: var(--text);
    padding: 5px;
}















/*media queries*/
@media (max-width:1200px){

    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){

    section{
        padding: 3rem 2rem;
    }

    html{
        font-size: 55%;
    }
    .home .slide .content h3{
        font-size: 15vw;
    }
}

@media (max-width:768px){

    .fa-times{
        transform: rotate(180deg);
    }

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0; right: 0;
        background-color: var(--bg);
        border-top: var(--bord);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
        color: var(--head);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .swiper-button-next,
    .swiper-button-prev{
        top:initial;
        bottom: 1rem;
    }
    .image1 img{
        display: none;
    }

    .image2 {
        display: block;
    }
    .image2 img{
        margin: auto;
        padding: 50px;
        height: 50%;
        position: relative;
    }
    .content1st{
        margin-top: -100px;
    }
    #cont .it{
        width: 100%;
    }
    .profiles .profile{
        width: 100%;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .home .slide .content h3{
        font-size: 6rem;
    }
}